astroid==2.2.5
autograd==1.2
Click==7.0
cycler==0.10.0
future==0.17.1
isort==4.3.20
joblib==0.13.2
kiwisolver==1.1.0
lazy-object-proxy==1.4.1
matplotlib==3.0.3
mccabe==0.6.1
-e git+https://github.com/bradfox2/NumpyNeuralNet.git@ae486f05bf33f6b0c54d2255ab0b10664e528ea0#egg=NNN
numpy==1.16.3
pkg-resources==0.0.0
pylint==2.3.1
pyparsing==2.4.0
python-dateutil==2.8.0
scikit-learn==0.21.2
scipy==1.10.0
six==1.12.0
sklearn==0.0
typed-ast==1.3.5
wrapt==1.11.1
